@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins';
}

.header__nav{
    height: 112px;
    display: flex;
}

ul,li,a{
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 1140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__list{
    display: flex;
    align-items: center;
}

.header__link{
    margin-left: 42px;
    font-weight: 400;
    font-size: 16px;
    color: #323232;
    transition: 0.2s linear;
}
.header__link:hover{
    color: #F78434;
    font-weight: 700;
}

.bekzod{
    
}




.oybek{
    
}




.qaxa{
    
    
}


.islom{
    
}



.sam{
    
}